* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  grid-template-columns: 300px 200%;
  gap: 4px;
}

.container div {
  display: grid;
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;

  /* grid-template-areas:
  "header header header header"
  "sidebar nav nav nav"
  "sidebar article article article"
  "sidebar article article article"
  "sidebar article article article"
  "footer footer footer footer"; */
}

.header {
  background-color: #393f4d;
  height: 100px;
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  justify-content: left;
  align-content: left;
}

.menu {
  grid-template-columns: repeat(2, 1fr);
}

.menu ul {
  display: grid;
  gap: 150px;
  width: 1000px;
  /* text-align:justify; */
  list-style: none;
}

.menu ul,
.menu li {
  font-size: 16px;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  /* grid-row: 2 / 5; */
}

.sidebar {
  background-color: #ff7755;
  display: grid;
  width: 250px;
  height: 1000px;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px 10px;
  width: 200px;
  height: 150px;
  margin: 10px;
}

.photo {
  display: grid;
  justify-content: center;
  align-content: center;
  /* Fix p width */
}

.sidebar .side-content {
  /* Unsure how to center the 'Box _' text with CSS grid here */
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 200px;
  height: 150px;
  margin: 10px;
  justify-content: center;
  align-content: center;
}

.nav {
  background-color: #ff7755;
  /* display: grid; */
  /* Move this up to the top using CSS */
}

.nav ul {
  display: grid;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  background-color: #bccbde;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  /* Set rows/columns to 3 by 3, excluding a few articles */
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  grid-column: 2;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
