* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  display: grid;
  gap: 15px;
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  /* grid-template-columns: 100px;
  grid-template-rows: 100px 200px; */
  grid-template-areas:
  "header header header header"
  "sidebar nav nav nav"
  "sidebar article article article"
  "footer footer footer footer";
}

.header {
  background-color: #393f4d;
}

.logo {
}

.menu {
}

.menu ul {
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
}

.sidebar > .side-content {
  grid-auto-columns: repeat(3, 1fr);
  grid-column: 1 / 1;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px 10px;
}

.photo  {
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
}

.nav ul {
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  grid-row: 2 / 4;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
